
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    scroll-behavior: smooth;
}

body{
    background: hsl(0, 0%, 95%);
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.col-card3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 750px;
    border-radius: 15px;
    overflow: hidden;
}
.col1,
.col2,
.col3{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
     height: 450px;
     text-align: start; 
     position: relative;
}
.col1 p,
.col2 p,
.col3 p{
    color:hsla(0, 0%, 100%, 0.75) ;
    font-size: 14px;
    line-height: 1.8;
}
.col1 h1,
.col2 h1,
.col3 h1{
   font-family: "Big Shoulders Display", sans-serif; 
   color:hsl(0, 0%, 95%);
}

.col1{
    background: hsl(31, 77%, 52%);
}
.col2{
    background: hsl(184, 100%, 22%);
}
.col3{
    background:  hsl(179, 100%, 13%);
}
.btn1,
.btn2,
.btn3{
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid transparent; 
    /* Fixed bad displacement */
    transition: all 0.3s;
}
.btn1:hover ,
.btn2:hover ,
.btn3:hover {
   color: white;
}
.btn1:hover{
    background: hsl(31, 77%, 52%);
    border: 1px solid white; 
}
.btn2:hover{
    background: hsl(184, 100%, 22%);
    border: 1px solid white; 
}
.btn3:hover{
    background:  hsl(179, 100%, 13%);
    border: 1px solid white; 
}
/* Responsive */
@media screen and (width < 800px){
    .col-card3{
      flex-direction: column;
      width: 250px;
    }
.col1,
.col2,
.col3{
    width: 250px;
    gap: 20px;
    height: 400px;
}
body{
    height: 100vh;
   margin: 50px auto;
}
}